In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv("carprices")

IOError: [Errno 2] File carprices does not exist: 'carprices'

In [3]:
ds = pd.read_csv("carprices.csv")

In [4]:
print(ds)

         Car Model  Mileage  Sell Price  Age
0           BMW X5    69000       18000    6
1           BMW X5    35000       34000    3
2           BMW X5    57000       26100    5
3           BMW X5    22500       40000    2
4           BMW X5    46000       31500    4
5             Audi    59000       29400    5
6             Audi    52000       32000    5
7             Audi    72000       19300    6
8             Audi    91000       12000    8
9   Mercedez Benz     67000       22000    6
10  Mercedez Benz     83000       20000    7
11  Mercedez Benz     79000       21000    7
12  Mercedez Benz     59000       33000    5
13          Toyota    51000       42000    4
14          Toyota    65000       32000    7
15          Toyota    39000       55000    5

In [5]:
dummy = pd.get_dummies(ds['Car Model'])

In [6]:
dummy

    Audi  BMW X5  Mercedez Benz   Toyota
0      0       1               0       0
1      0       1               0       0
2      0       1               0       0
3      0       1               0       0
4      0       1               0       0
5      1       0               0       0
6      1       0               0       0
7      1       0               0       0
8      1       0               0       0
9      0       0               1       0
10     0       0               1       0
11     0       0               1       0
12     0       0               1       0
13     0       0               0       1
14     0       0               0       1
15     0       0               0       1

# Since we cannot access the theoreticala data 'Car Model' so we will convert the values into dummy numerical data

In [9]:
#Here 0 means for no and 1 means for yes. So wherever the value is common we use 1

In [10]:
##Now we will merge this column with our original data set.

In [12]:
merged = pd.concat([ds,dummy],axis = columns)

NameError: name 'columns' is not defined

In [13]:
merged = pd.concat([ds,dummy],axis = col)

NameError: name 'col' is not defined

In [14]:
ds = pd.read_csv("carprices")

IOError: [Errno 2] File carprices does not exist: 'carprices'

In [15]:
merged = pd.concat([ds,dummy],axis = col)

NameError: name 'col' is not defined

In [16]:
merged = pd.concat([ds,dummy],axis = columns
                  )

NameError: name 'columns' is not defined

In [17]:
merged = pd.concat([ds,dummy],axis = 'columns')

In [18]:
merged

,Car Model,Mileage,Sell Price,Age,Audi,BMW X5,Mercedez Benz,Toyota
0,BMW X5,69000,18000,6,0,1,0,0
1,BMW X5,35000,34000,3,0,1,0,0
2,BMW X5,57000,26100,5,0,1,0,0
3,BMW X5,22500,40000,2,0,1,0,0
4,BMW X5,46000,31500,4,0,1,0,0
5,Audi,59000,29400,5,1,0,0,0
6,Audi,52000,32000,5,1,0,0,0
7,Audi,72000,19300,6,1,0,0,0
8,Audi,91000,12000,8,1,0,0,0
9,Mercedez Benz,67000,22000,6,0,0,1,0
10,Mercedez Benz,83000,20000,7,0,0,1,0
11,Mercedez Benz,79000,21000,7,0,0,1,0
12,Mercedez Benz,59000,33000,5,0,0,1,0
13,Toyota,51000,42000,4,0,0,0,1
14,Toyota,65000,32000,7,0,0,0,1
15,Toyota,39000,55000,5,0,0,0,1

# Since we dont need the car model names so we will be dropping it.

In [19]:
final = merged.drop(["Car Model", "Mercedes Benz C class"], axis = 'columns')

KeyError: "['Mercedes Benz C class'] not found in axis"

final = merged.drop(["Car Model", "Mercedez Benz"], axis = 'columns')

In [22]:
final

NameError: name 'final' is not defined

In [23]:
merged

,Car Model,Mileage,Sell Price,Age,Audi,BMW X5,Mercedez Benz,Toyota
0,BMW X5,69000,18000,6,0,1,0,0
1,BMW X5,35000,34000,3,0,1,0,0
2,BMW X5,57000,26100,5,0,1,0,0
3,BMW X5,22500,40000,2,0,1,0,0
4,BMW X5,46000,31500,4,0,1,0,0
5,Audi,59000,29400,5,1,0,0,0
6,Audi,52000,32000,5,1,0,0,0
7,Audi,72000,19300,6,1,0,0,0
8,Audi,91000,12000,8,1,0,0,0
9,Mercedez Benz,67000,22000,6,0,0,1,0
10,Mercedez Benz,83000,20000,7,0,0,1,0
11,Mercedez Benz,79000,21000,7,0,0,1,0
12,Mercedez Benz,59000,33000,5,0,0,1,0
13,Toyota,51000,42000,4,0,0,0,1
14,Toyota,65000,32000,7,0,0,0,1
15,Toyota,39000,55000,5,0,0,0,1

In [24]:
final = merged.drop(["Car Model"], axis = 'columns')

In [25]:
merged

,Car Model,Mileage,Sell Price,Age,Audi,BMW X5,Mercedez Benz,Toyota
0,BMW X5,69000,18000,6,0,1,0,0
1,BMW X5,35000,34000,3,0,1,0,0
2,BMW X5,57000,26100,5,0,1,0,0
3,BMW X5,22500,40000,2,0,1,0,0
4,BMW X5,46000,31500,4,0,1,0,0
5,Audi,59000,29400,5,1,0,0,0
6,Audi,52000,32000,5,1,0,0,0
7,Audi,72000,19300,6,1,0,0,0
8,Audi,91000,12000,8,1,0,0,0
9,Mercedez Benz,67000,22000,6,0,0,1,0
10,Mercedez Benz,83000,20000,7,0,0,1,0
11,Mercedez Benz,79000,21000,7,0,0,1,0
12,Mercedez Benz,59000,33000,5,0,0,1,0
13,Toyota,51000,42000,4,0,0,0,1
14,Toyota,65000,32000,7,0,0,0,1
15,Toyota,39000,55000,5,0,0,0,1

In [26]:
final

    Mileage  Sell Price  Age  Audi  BMW X5  Mercedez Benz   Toyota
0     69000       18000    6     0       1               0       0
1     35000       34000    3     0       1               0       0
2     57000       26100    5     0       1               0       0
3     22500       40000    2     0       1               0       0
4     46000       31500    4     0       1               0       0
5     59000       29400    5     1       0               0       0
6     52000       32000    5     1       0               0       0
7     72000       19300    6     1       0               0       0
8     91000       12000    8     1       0               0       0
9     67000       22000    6     0       0               1       0
10    83000       20000    7     0       0               1       0
11    79000       21000    7     0       0               1       0
12    59000       33000    5     0       0               1       0
13    51000       42000    4     0       0               0       1
14    65000       32000    7     0       0               0       1
15    39000       55000    5     0       0               0       1

In [27]:
final = merged.drop(["Mercedez Benz"], axis = 'columns')

KeyError: "['Mercedez Benz'] not found in axis"

In [28]:
final

    Mileage  Sell Price  Age  Audi  BMW X5  Mercedez Benz   Toyota
0     69000       18000    6     0       1               0       0
1     35000       34000    3     0       1               0       0
2     57000       26100    5     0       1               0       0
3     22500       40000    2     0       1               0       0
4     46000       31500    4     0       1               0       0
5     59000       29400    5     1       0               0       0
6     52000       32000    5     1       0               0       0
7     72000       19300    6     1       0               0       0
8     91000       12000    8     1       0               0       0
9     67000       22000    6     0       0               1       0
10    83000       20000    7     0       0               1       0
11    79000       21000    7     0       0               1       0
12    59000       33000    5     0       0               1       0
13    51000       42000    4     0       0               0       1
14    65000       32000    7     0       0               0       1
15    39000       55000    5     0       0               0       1

In [29]:
final = final.drop('Mercedes Benz')

KeyError: "['Mercedes Benz'] not found in axis"

In [32]:
final = final.drop('Mercedez Benz', axis='columns')

KeyError: "['Mercedez Benz'] not found in axis"

In [33]:
X = final.drop('Sell Price', axis = 'columns')

In [34]:
final

    Mileage  Sell Price  Age  Audi  BMW X5  Mercedez Benz   Toyota
0     69000       18000    6     0       1               0       0
1     35000       34000    3     0       1               0       0
2     57000       26100    5     0       1               0       0
3     22500       40000    2     0       1               0       0
4     46000       31500    4     0       1               0       0
5     59000       29400    5     1       0               0       0
6     52000       32000    5     1       0               0       0
7     72000       19300    6     1       0               0       0
8     91000       12000    8     1       0               0       0
9     67000       22000    6     0       0               1       0
10    83000       20000    7     0       0               1       0
11    79000       21000    7     0       0               1       0
12    59000       33000    5     0       0               1       0
13    51000       42000    4     0       0               0       1
14    65000       32000    7     0       0               0       1
15    39000       55000    5     0       0               0       1

In [35]:
X

    Mileage  Age  Audi  BMW X5  Mercedez Benz   Toyota
0     69000    6     0       1               0       0
1     35000    3     0       1               0       0
2     57000    5     0       1               0       0
3     22500    2     0       1               0       0
4     46000    4     0       1               0       0
5     59000    5     1       0               0       0
6     52000    5     1       0               0       0
7     72000    6     1       0               0       0
8     91000    8     1       0               0       0
9     67000    6     0       0               1       0
10    83000    7     0       0               1       0
11    79000    7     0       0               1       0
12    59000    5     0       0               1       0
13    51000    4     0       0               0       1
14    65000    7     0       0               0       1
15    39000    5     0       0               0       1

In [36]:
y = final['Sell Price']

In [37]:
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
13    42000
14    32000
15    55000
Name: Sell Price, dtype: int64

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
model = LinearRegression()

In [40]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [41]:
model.score(X,y)

0.9461669991799322

#